<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password conirm</title>
</head>
<body>
    <h1>Reset password</h1>
    
    {% if validlink %}
        <h3>reset your password here</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Reset</button>
        </form>
    {% else %}
        <h3>This link is not valid</h3>
    {% endif %}
        
</body>
</html>