{% load static %}
{% include 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/explore.css' %}">
{% endblock style %}


{% block content %}
    <div class="explore-container">
        {% for post in posts %}
        <a href="{{post.get_absolute_url}}" class="explore-item-{{forloop.counter|divisibleby:'18'}} explore-item">
            <div class="overlay"></div>
            <img src="{{post.image.url}}" alt="">
        </a>
        {% endfor %}
    </div>
{% endblock content %}
    