{% load static %}
{% include "base.html" %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock style %}

{% block content %}
<!-- header -->
<section>
    <div class="header">
        <div class="header-container">
            <div class="logo">
                <img src="{% static 'images/Instagram_logo.svg.png' %}" alt="">
            </div>
            <div class="serachbar">
                <input type="search" name="" id="" placeholder="Search">
            </div>
            <div class="icons">
                <div class="home"></div>
                <i class='fas fa-home'></i>
                <div class="send">
                    <i class='far fa-paper-plane'></i>
                </div>
                <div class="add">
                    <i class='far fa-plus-square'></i>
                </div>
                <div class="explore">
                    <i class='far fa-compass'></i>
                </div>
                <div class="heart">
                    <i class='far fa-heart'></i>
                </div>
                <div class="profile">
                    <img src="{{user.photo.url}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="main-container">
    <div class="main-page">

        <!-- story part -->
        <div class="story">
            <section class="splide" aria-labelledby="carousel-heading">
                <div class="splide__track">
                    <ul class="splide__list">

                        {% for follow in request.user.following.all %}
                        <a href="">
                            <li class="splide__slide">
                                <img src="{{follow.photo.url}}" alt="">
                                <span>{{follow}}</span>
                            </li>
                        </a>
                        {% endfor %}
                    
                    </ul>
                </div>
            </section>
        </div>

        <!-- posts part -->
        <div class="posts">

            {% for post in posts %}
            <!-- post template -->
            <div class="post_in_main">
                <div class="post-owner-details">
                    <div class="post-owner-details-img">
                        <a href="{% url 'profile' post.user %}">
                            <img src="{{post.user.photo.url}}" alt="">
                        </a>
                    </div>
                    <div class="post-owner-details-profile">
                        <div class="post-owner-details-profile-name">{{post.user}}</div>
                        <div class="post-owner-details-profile-loaction">Isfahan</div>
                    </div>
                    <div></div>
                    <div class="post-owner-details-settings">
                        ...
                    </div>
                </div>
                <div class="post-main">
                    <img src="{{post.image.url}}" alt="">
                </div>
                <div class="post-actions">
                    <div class="heart-family">
                        <i class="far fa-heart"></i>
                        <i class="far fa-comment"></i>
                        <i class="far fa-paper-plane"></i>
                    </div>
                    <div class="bookmark-family">
                        <i class="far fa-bookmark"></i>
                    </div>
                </div>

                {% if cm.likes.all|length > 1 %}
                <div class="post-likes">
                    {{post.likes.all|length}} likes
                </div>
              {% else %}
                <div class="post-likes">
                    {{post.likes.all|length}} like
                </div>
              {% endif %}
                
                <div class="post-caption">
                    <a href="#" class="post-caption-username">{{post.user}}</a>
                    <span class="post-caption-main">{{post.caption}}</span>
                    <a href="#" class="more-caption">more</a>
                </div>
                <div class="post-view-comments">
                    {% if post.comments.all|length > 0 %}
                    <a href="#">View all {{post.comments.all|length}} comments</a>
                    {% endif %}

                </div>
                <div class="post-date">{{cm.created|timesince}}</div>
                <div class="post-add-comment"> 
                    <div class="emoji">
                        <a href=""><i class='far fa-smile'></i></a>
                    </div>
                    <div class="poast-comment-input">
                        <input type="text" placeholder="Add a comment...">
                    </div>
                    <div class="post-key">
                        <button>Post</button>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

    <!-- side bar -->
    <div class="side-nav">
        <div class="self-profile-container">
            <div class="self-profile">
                <div class="self-profile-image">
                    <img src="{{user.photo.url}}" alt="">
                </div>
                <div class="self-profile-details">
                    <span class="profile-details-username">
                        <a href="#">{{user}}</a>
                    </span>

                    {% if user.first_name %}
                    {{user.first_name}}
                    {% endif %}
                    {% if user.last_name %}
                    {{user.last_name}}
                    {% endif %}

                </div>
            </div>
            <!-- buttons -->
            <div class="side-nav-btn">
                <button>Switch</button>
            </div>
        </div>

        <div class="suggetsion">
            <div class="suggestion-text-main">
                <div class="suggest-text">
                    Suggestions For You
                </div>
                <div class="suggest-see-all">
                    <button>See All</button>
                </div>
            </div>
        </div>

        <!-- suggest friends -->
        <div class="friend-suggest-container">
            <div class="friend-suggest-image">
                <img src="./images/faceless_void.jpg" alt="">
            </div>
            <div class="friend-suggest-info">
                <div class="friend-suggest-info-username">
                    Mohammadkzmr
                </div>
                <div class="friend-suggest-info-followed-by">
                    Followed by mhrdad
                </div>
            </div>

            <div class="friend-suggest-follow-btn">
                <button>Follow</button>
            </div>
        </div>

        <div class="friend-suggest-container">
            <div class="friend-suggest-image">
                <img src="./images/phantom_lancer.jpg" alt="">
            </div>
            <div class="friend-suggest-info">
                <div class="friend-suggest-info-username">
                    Mohammadkzmr
                </div>
                <div class="friend-suggest-info-followed-by">
                    Followed by mhrdad
                </div>
            </div>

            <div class="friend-suggest-follow-btn">
                <button>Follow</button>
            </div>
        </div>

        <div class="friend-suggest-container">
            <div class="friend-suggest-image">
                <img src="./images/tinker.jpg" alt="">
            </div>
            <div class="friend-suggest-info">
                <div class="friend-suggest-info-username">
                    Mohammadkzmr
                </div>
                <div class="friend-suggest-info-followed-by">
                    Followed by mhrdad
                </div>
            </div>

            <div class="friend-suggest-follow-btn">
                <button>Follow</button>
            </div>
        </div>

    </div>

    <div class="actions-container animate__animated">
        {% for action in actions %}
            <a href="{% url 'profile' action.user %}">
                <div class="action-user-image">
                    <img src="{{action.user.photo.url}}" alt="">
                </div>
            </a>
            {{action.act}}
            
            {% if action.target %}
                {{action.target}}
            {% endif %}
                
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/js/splide.min.js"></script>
<script>

    var splide = new Splide('.splide', {
        // type: 'loop',
        drag: 'free',
        snap: true,
        perPage: 6,
    });

    splide.mount();
    let story_slide_list = document.getElementsByClassName("splide__slide");
    for (index in story_slide_list) {
        let name = story_slide_list[index].getElementsByTagName("span")[0].innerHTML;
        if (name.length > 8) {
            story_slide_list[index].getElementsByTagName("span")[0].innerHTML = name.slice(0, 10) + "...";
        }
    }
</script>

<script>
    // caption show more
    let caption = document.getElementsByClassName("post-caption-main");
    let more = document.getElementsByClassName("more-caption");
    for (let item in caption) {
        let captionText = (caption[item].innerText).trim();
        if (captionText.trim().length > 10) {
            caption[item].innerHTML = captionText.slice(0, 10) + "...";
        } else {
            more[item].remove();
            console.log(more.innerText)
        }
    }
</script>

<!-- ajax script -->
<script>
    let page = 1;
    let emptyPage = false;
    let blockRequest = false;
    let posts_container = document.getElementsByClassName("posts")[0];

    document.addEventListener("scroll", function () {
        let contentHeight = window.innerHeight;
        let yOffset = window.pageYOffset;
        let clientHight = document.body.clientHeight;

        if (yOffset > (clientHight * 6) / 10 && emptyPage == false && blockRequest == false) {
            blockRequest = true;
            page += 1;
            axios.get("", {
                params: {
                    page: page,
                }
            }).then((result) => {
                if (result.data.status === "empty") {
                    emptyPage = true;
                    console.log("empty")
                }
                posts_container.innerHTML += result.data.status;
                // caption show more
                try {
                    let caption = document.getElementsByClassName("post-caption-main");
                    let more = document.getElementsByClassName("more-caption");
                    for (let item in caption) {
                        let captionText = (caption[item].innerText).trim();
                        if (captionText.trim().length > 10) {
                            caption[item].innerHTML = captionText.slice(0, 10) + "...";
                        } else {
                            more[item].remove();
                            console.log(more.innerText)
                        }
                    }
                }
                catch {

                }
                blockRequest = false;
            }).catch((err) => {
                console.log(err)
            });
        }
    });
</script>

<!-- actions -->
<script>
    // actions show
    let heartKey = document.getElementsByClassName("heart")[0];
    let actionsContainer = document.getElementsByClassName("actions-container")[0];

    document.addEventListener("click", (e)=>{
        if (!e.target.classList.contains("fa-heart") && actionsContainer.classList.contains("show-box")){
            actionsContainer.classList.remove("show-box");
        }
    });
    heartKey.addEventListener("click", ()=>{
        actionsContainer.classList.toggle("show-box");
    });
    
</script>
{% endblock content %}