@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}
a {
    cursor: pointer;
}
body {
    background: #fafafa;
    margin: 50px auto;
    padding: 0;
    border: 0;
    width: 800px;
    max-width: 95%;
    font-family: 'Cabin', sans-serif;
}
body section {
    background: #fff;
    position: relative;
    border-radius: 2px;
    margin: 10px 0;
    padding: 0;
    border: 1px solid #dbdbdb;
}
body section .header {
    display: flex;
    justify-content: space-between;
}
body section .header .user {
    margin: 5px;
    padding: 7px;
    border: 0;
}
body section .header .param {
    cursor: pointer;
    margin: 6px;
    padding: 6px;
    border: 0;
    border-radius: 4px;
}
body section .header .param:hover {
    background: #000;
}
body section .img-container img {
    width: 100%;
}
body section .like-checkbox {
    display: none;
}
body section .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
body section .toolbar .like, body section .toolbar .comment, body section .toolbar .transfer, body section .toolbar .signet {
    margin: 8px;
    padding: 0;
    border: 0;
}
body section .toolbar .signet {
    position: absolute;
    right: 0;
}
body section .description {
    margin: 6px;
    padding: 6px;
    border: 0;
    font-size: 16px;
}
body section .description strong {
    font-weight: bold;
    font-size: 15px;
}
.check-like {
    animation-duration: 0.2s;
    animation-name: like;
    fill: #1f81ba;
}
.check-path {
    fill: #1f81ba;
    background: #1f81ba;
}
@keyframes like {
    from {
        transform: scale(1);
   }
    75% {
        transform: scale(1.4);
   }
    to {
        transform: scale(1);
   }
}